.title {
  text-align: center;
  text-transform: capitalize;
}

.card h2, .card p {
  padding-bottom: 1em;
}

.portfolio-image,
.index-image,
.service-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index-image {
  width: 100px;
}

.service-image {
  width: 200px;
}

.img-circle {
  border-radius: 50%;
}

.recommendation-image {
  border-radius: 50%;
  width: 128px;
  float: left;
  margin: 10px 20px 10px 10px;
}

.de-emphasized {
  color: #444; font-size: 0.7em;
}

.ion-email,
.ion-social-skype,
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-linkedin,
.ion-social-octocat {
  font-size: 25px;
}

.social-media {
  text-align: center;
}

.social-media-icons {
  justify-content: center;
}

.contact-button {
  width: 150px;
  font-size: 1.5em;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif
}

.google-map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Form Error Handling */
.error-container {
  margin: 5px 0;
}

.error-container:last-child {
  margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}
