<ion-view view-title="Contact Us">
  <ion-content class="padding">
    <h3 class="title">
      Here's How You Can Reach Us
    </h3>

    <div class="row responsive-sm">
      <div class="col">
        <a href="#" onclick="window.open('mailto:jonmarinello@gmail.com', '_system', 'location=yes'); return false;">
          <div class="button icon-left ion-email button-positive contact-button">
            Email
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" onclick="window.open('skype:jon.marinello.mrsc?chat', '_system', 'location=yes'); return false;">
          <div class="button icon-left ion-social-skype button-calm contact-button">
            Skype
          </div>
        </a>
      </div>

      <div class="col">
        <a href="#" onclick="window.open('tel:8057057929', '_system', 'location=yes'); return false;">
          <div class="button icon-left ion-ios-telephone button-dark contact-button">
            Call
          </div>
        </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Mailing Address
      </div>
      <div class="item item-text-wrap">
        Mission Ridge Software Consulting LLC
        <br>
        1410 Harbor View Drive
        <br>
        Santa Barbara, CA 93103
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Map
      </div>
      <div class="item item-text-wrap">
        <div class="google-map">
          <iframe frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26328.953979405916!2d-119.66473400000005!3d34.423725999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e913bb21fdb28d%3A0xfb6a9d458dfaa3bf!2s1410+Harbor+View+Dr!5e0!3m2!1sen!2sus!4v1404473191641" style="border:0">
          </iframe>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
