<ion-view view-title="Start A Project">
  <ion-content class="padding">
    <h3 class="title">
      Let's talk about your idea for a new project
    </h3>
    <hr>
    <p>
      Tell us a little bit about yourself and a few things about the project you would like to start. We will contact
      you to discuss your ideas in short order. All the information provided below will be kept strictly confidential and
      does not imply any agreement between us. Its just a starting point for a discussion.
    </p>
    <form ng-submit="Submit(data)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Email address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone number">
        </label>
        <label class="item item-input">
          <input type="text"placeholder="Company or organization name">
        </label>
        <label class="item item-input">
          <textarea placeholder="Describe your project or idea"></textarea>
        </label>
        <h5>
          Project Type (Select all that apply):
        </h5>
        <ul class="list">
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Ruby on Rails Web Development
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Mobile App Development
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            CMS Web Development
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Everything Cloud
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            User Experience Prototyping
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Agile Development
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Other
          </li>
        </ul>
        <label class="item item-input">
          <textarea placeholder="Any additional information"></textarea>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Starting timeframe">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="How you heard about us">
        </label>
        <ul class="list">
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Keep me updated with Mission Ridge Software Consulting news
          </li>
        </ul>
        <button class="button button-block button-positive" type="submit">
          Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
