<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="title">
      <h3>
        Mission Ridge Software Consulting
      </h3>
      <img src='img/mrsc.jpg' alt='MRSC'>
    </div>
    <hr>
    <p>
      Mission Ridge Software Consulting is located in Santa Barbara, California and provides quality software
      consulting services at competitive rates. We mainly specialize in:
    </p>
    <div class="row responsive-sm">
      <div class="col">
        <div class="card padding">
          <div class="item item-divider">
            <img src="img/services/mobile.png" class="index-image" align="middle">
          </div>
          <h4 class="title">
            Mobile App Development
          </h4>
          <p>
            Have an app idea or design you want to get into this rapidly growing marketplace?
          </p>
          <p>
            Let's build the next great mobile app for the iOS or Android platform.
          </p>
          <p>
            We love building mobile apps. We specialize in iPhone, iPad & Android app development.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="card padding">
          <div class="item item-divider">
            <img src="img/services/rails.png" class="index-image" align="middle">
          </div>
          <h4 class="title">
            Ruby On Rails Web Development
          </h4>
          <p>
            If you're looking for
            <a href="#" onclick="window.open('http://rubyonrails.org', '_system', 'location=yes'); return false;">Ruby on Rails</a>, you've come to the right place.
          </p>
          <p>
            Rails development is our passion and we love building applications with this framework because of the speed
            of development and the many products around it including
            <a href="#" onclick="window.open('https://www.heroku.com/', '_system', 'location=yes'); return false;">Heroku</a>
            for hosting, New Relic for monitoring and many more.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="card padding">
          <div class="item item-divider">
            <img src="img/services/cms.png" class="index-image" align="middle">
          </div>
          <h4 class="title">
            CMS Web Development
          </h4>
          <p>
            If you have a great idea for a website but want to save on development costs,
            <a href="#" onclick="window.open('https://en.wikipedia.org/wiki/Content_management_system', '_system', 'location=yes'); return false;">Content Management Systems (CMS)</a>
            may be the best solution.
          </p>
          <p>
            CMS provides a less flexible framework for building websites but at a much lower cost. You choose
            from a predetermined set of layout templates
          </p>
        </div>
      </div>
    </div>

    <div class="social-media">
      <h3>
        Stay Connected
      </h3>
      <div class="row social-media-icons">
        <div class="col col-10">
          <a href="#" onclick="window.open('mailto:jonmarinello@gmail.com', '_system', 'location=yes'); return false;"><i class='ion-email'></i></a>
        </div>
        <div class="col col-10">
          <a href="#" onclick="window.open('skype:jon.marinello.mrsc?chat', '_system', 'location=yes'); return false;"><i class='ion-social-skype'></i></a>
        </div>
        <div class="col col-10">
          <a href="#" onclick="window.open('https://www.facebook.com/missionridgeconsulting', '_system', 'location=yes'); return false;"><i class='ion-social-facebook'></i></a>
        </div>
        <div class="col col-10">
          <a href="#" onclick="window.open('http://twitter.com/jonmarinello', '_system', 'location=yes'); return false;"><i class='ion-social-twitter'></i></a>
        </div>
        <div class="col col-10">
          <a href="#" onclick="window.open('http://google.com/+JonMarinello', '_system', 'location=yes'); return false;"><i class='ion-social-googleplus'></i></a>
        </div>
        <div class="col col-10">
          <a href="#" onclick="window.open('http://www.linkedin.com/in/jonmarinello', '_system', 'location=yes'); return false;"><i class='ion-social-linkedin'></i></a>
        </div>
        <div class="col col-10">
          <a href="#" onclick="window.open('https://github.com/jonmarinello', '_system', 'location=yes'); return false;"><i class='ion-social-octocat'></i></a>
        </div>
      </div>

      <p>
        <small>
          To see our responsive website written in Ruby on Rails
          <a href="#" onclick="window.open('http://www.missionridgeconsulting.com/', '_system', 'location=yes'); return false;">click here.</a>
        </small>
      </p>

      <p>
        <small>
          Founded 2011, Mission Ridge Software Consulting LLC © 2011-2015
        </small>
      </p>

      <p class="de-emphasized">
        This mobile application was built using the <a href="#" onclick="window.open('http://ionicframework.com/', '_system', 'location=yes'); return false;">ionic.io</a> framework.
      </p>
     </div>

  </ion-content>
</ion-view>
