<ion-view view-title="Portfolio">
  <ion-content class="padding">
    <h3 class="title">
      We have a proven track record of success
    </h3>
    <div class="card">
      <div class="item item-divider">
        <a href="#" onclick="window.open('http://www.finandfield.com', '_system', 'location=yes'); return false;">
          <img src="img/portfolio/fin_and_field.png" class="portfolio-image">
        </a>
      </div>
      <div class="item item-text-wrap">
        <h2>
          Fin & Field is all about the sportsman. Dedicated to those in search of their next outdoor adventure and to
          the outfitters, captains, and guides that make it all possible.
        </h2>
        <p>In May of 2014 we were engaged by Fin & Field to join the engineering team to build their web-based SaaS
          platform. The Fin & Field platform provides a large-scale ecosystem to efficiently connect the huge market
          of hunters and anglers with the hunting guides, hunting lodges, boat captains and marinas in the US The
          platform integrates many of the general concepts found in social networking and booking sites like Facebook and AirBnB.
        </p>
        <p>
          The platform is implemented using Ruby on Rails running on the Heroku cloud. The website employs the
          Responsive web design (RWD) approach. This web design approach is aimed at crafting sites to provide an
          optimal viewing experience—easy reading and navigation with a minimum of resizing, panning, and
          scrolling—across a wide range of devices (from mobile phones to desktop computer monitors). The website
          is styled using bootstrap 3 and uses the fluid grid design concept.
        </p>
        <p>
          <strong>
            This is a current engagement.
          </strong>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <a href="#" onclick="window.open('https://www.therealreal.com', '_system', 'location=yes'); return false;">
          <img src="img/portfolio/therealreal.png" class="portfolio-image">
        </a>
      </div>
      <div class="item item-text-wrap">
        <h2>
          The RealReal is the leader in authenticated luxury consignment. They offer the largest selection of pre-owned
          and authenticated luxury items including men’s and women’s luxury fashion, fine jewelry & watches and fine art.
        </h2>
        <p>
          In October of 2015 we were engaged by TheRealReal on a short-term basis to join the engineering team to help out
          with a backlog of Business Intelligence (BI) programming tasks and other work.  In addition to the BI work, we
          helped them fix a number of bugs as well as helping them catch up on technical debt on a Rails 3 architecture.
        </p>
        <p>
          We integrated with the development and quality assurance teams using Slack, Pivotal Tracker, GitHub. The BI
          technologies used were Snowplow and Optimizely.
        </p>
        <p>
          The platform is implemented using Ruby on Rails running in the cloud. The website employs the
          Responsive web design (RWD) approach that also has to work on mobile platforms.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <a href="#" onclick="window.open('http://www.rightscale.com', '_system', 'location=yes'); return false;">
          <img src="img/portfolio/rightscale.jpg" class="portfolio-image">
        </a>
      </div>
      <div class="item item-text-wrap">
        <h2>
          RightScale provides a complete management platform to design, deploy, and manage the lifecycle of
          mission-critical cloud deployments.
        </h2>
        <p>
          We worked with Rightscale for two years starting in January 2012 on their command-line driven, server
          template test automation framework with a domain-specific DSL known affectionately as the Virtual Monkey.
        </p>
        <p>
          Server templates provide a repeatable set of bash scripts or chef recipes that can be applied to a server
          launched in the cloud. We took over the Virtual Monkey and maintained and extended it into the "Next Generation" phase.
          This work included revamping the domain-specific DSL to support many new advanced features like test code sharing,
          test case tagging and shared helpers.
        </p>
        <p>
          Then we hot-rodded it with an additional software layer called the Rocket Monkey. This new layer of the
          software stack provides a Google Drive matrix-driven interface that allows simplified definition of server
          template tests across multiple clouds. It also provides a very rich set of web-based reports and embedded
          Google charts. We maintained and extended the Virtual Monkey server template in both RightScript and
          Chef-based versions. We ported the entire stack from Ruby 1.8.7 to 1.9.3. We supported teams in the Santa Barbara
          area as well as overseas in Belarus.
        </p>
        <p>
          We worked with numerous clouds in this engagement including Amazon Web Services (AWS), Rackspace, CloudStack,
          Google Compute Engine (GCE), Azure and HP.
        </p>
        <p>
          <strong>
            For more information on the server template test automation framework check out this
            <a href="#" onclick="window.open('http://www.rightscale.com/blog/cloud-management-best-practices/continuous-testing-cloud', '_system', 'location=yes'); return false;">great article</a>
            on Continuous Testing in the Cloud.
          </strong>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
