<ion-view view-title="Start A Project" cache-view="false">
  <ion-content class="padding">
    <h3 class="title">
      Let's talk about your idea for a new project
    </h3>
    <hr>
    <p>
      Tell us a little bit about yourself and a few things about the project you would like to start. We will contact
      you to discuss your ideas in short order. All the information provided below will be kept strictly confidential and
      does not imply any agreement between us. Its just a starting point for a discussion.
    </p>
    <form name="startAProjectForm" ng-submit="startAProject(startAProjectForm)" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : startAProjectForm.name.$invalid, 'no-errors' : startAProjectForm.name.$valid}">
          <span class="input-label">Name *</span>
          <input type="text" name="name" ng-model="potentialProject.name" placeholder="Roger Eaton" ng-minlength="3" required>
        </label>
        <div class="error-container" ng-show="startAProjectForm.name.$error" ng-messages="startAProjectForm.name.$error">
          <div class="error" ng-message="required">
            <i class="ion-information-circled"></i>
            Your name is required.
          </div>
          <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i>
            Please enter at least 3 characters.
          </div>
        </div>

        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : startAProjectForm.email.$invalid, 'no-errors' : startAProjectForm.email.$valid}">
          <span class="input-label">Email Address *</span>
          <input type="email" name="email" ng-model="potentialProject.email" placeholder="roger@eaton.com" ng-minlength="5" required>
        </label>
        <div class="error-container" ng-show="startAProjectForm.email.$error" ng-messages="startAProjectForm.email.$error">
          <div class="error" ng-message="required">
            <i class="ion-information-circled"></i>
            Your email address is required.
          </div>
          <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i>
            Please enter at least 5 characters in the form name@domain.com.
          </div>
        </div>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone Number</span>
          <input type="tel" ng-model="potentialProject.phone" placeholder="(805) 555-1212">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Company Name</span>
          <input type="text" ng-model="potentialProject.company_name" placeholder="ACME Inc.">
        </label>

        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : startAProjectForm.project_idea.$invalid, 'no-errors' : startAProjectForm.project_idea.$valid}">
          <span class="input-label">Project Idea *</span>
          <textarea rows='5' name="project_idea" ng-model="potentialProject.project_idea" placeholder="I would like to have you build us a website and mobile application." ng-minlength="3" required></textarea>
        </label>
        <div class="error-container last-error-container" ng-show="startAProjectForm.project_idea.$error" ng-messages="startAProjectForm.project_idea.$error">
          <div class="error" ng-message="required">
            <i class="ion-information-circled"></i>
            Your project idea is required.
          </div>
          <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i>
            Please enter at least 3 characters.
          </div>
        </div>

        <h5>
          Project Type (Select all that apply):
        </h5>

        <ion-toggle ng-model="potentialProject.type_ruby_on_rails_web_development">
          Ruby on Rails Web Development
        </ion-toggle>

        <ion-toggle ng-model="potentialProject.type_mobile_app_development">
          Mobile App Development
        </ion-toggle>

        <ion-toggle ng-model="potentialProject.type_cms_web_development">
          CMS Web Development
        </ion-toggle>

        <ion-toggle ng-model="potentialProject.type_everything_cloud">
          Everything Cloud
        </ion-toggle>

        <ion-toggle ng-model="potentialProject.type_ux_prototyping">
          User Experience Prototyping
        </ion-toggle>

        <ion-toggle ng-model="potentialProject.type_agile_development">
          Agile Development
        </ion-toggle>

        <ion-toggle ng-model="potentialProject.type_other">
          Other
        </ion-toggle>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Additional Information</span>
          <textarea rows='5' ng-model="potentialProject.additional_info" placeholder="We are a small startup company so cost is a factor for us."></textarea>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Starting Timeframe</span>
          <input type="month" ng-model="potentialProject.start_timeframe">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">How You Heard About Us</span>
          <input type="text" ng-model="potentialProject.heard_about_us" placeholder="Business referral.">
        </label>

        <ion-toggle ng-model="potentialProject.keep_me_updated">
          Update Me With MRSC News
        </ion-toggle>

        <button class="button button-block button-positive" type="submit">
          Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
